<div class="row">
  <div class="col-lg-5 col-md-5 ml-auto mr-auto">
    <h1>Edit <%= resource_name.to_s.humanize %></h1>
    <hr>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-group py-4">
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag user_avatar(resource, 100), class: "rounded-circle" %>
          </div>
          <div class="col-sm-6">
            <%= f.file_field :avatar %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.input :email, required: true, autofocus: true, class: "form-control" %>
      </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <div class="form-group">
          <%= f.input :password,
            hint: "leave it blank if you don't want to change it",
            required: false,
            input_html: { autocomplete: "new-password" },
            class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.input :password_confirmation,
            required: false,
            input_html: { autocomplete: "new-password" },
            class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.input :current_password,
            hint: "we need your current password to confirm your changes",
            required: true,
            input_html: { autocomplete: "current-password" },
            class: "form-control" %>
        </div>

      <div class="form-group">
        <%= f.button :submit, "Update", class: "btn btn-lg btn-block btn-primary" %>
      </div>
    <% end %>
    <hr>

    <h2 class="text-center">Cancel my account</h2>

    <div class="form-group">
      <p class="text-center">Unhappy?</p>
      <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-lg btn-block btn-danger", data: { confirm: "Are you sure?, You cannot undo this." }, method: :delete %>
    </div>

    <div class="form-inline justify-content-center">
      <%= link_to "Back", :back %>
    </div>
    <hr>
  </div>
</div>
