<h1 class="text-center">Recipes</h1>

<% @recipes.each_slice(3) do |recipes| %>
  <div class="row card-deck">
    <% recipes.each do |recipe| %>
    <div class="col-md-4">
      <div class="card">
        <%= link_to recipe do %>
        <div class="wrapper">
          <%= image_tag recipe.image, class: "card-img-top img-fluid" %>
        </div>
        <div class="card-body">
          <h2 class="card-text text-center"><%= link_to recipe.title, recipe %></h2>
          <div class="container small">Owner <%= "#{recipe.user.user_name}" %></div>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

<div class="form-group">
  <%= link_to 'New Recipe', new_recipe_path, class: "btn btn-primary mt-4" %>
</div>

<%= link_to 'Back', root_path %>
