
<h1>
  <strong><%= @recipe.title %></strong>
</h1>


<div>
  <%= image_tag @recipe.image %>
</div>

<p>
  <strong>Content:</strong>
  <%= @recipe.content %>
</p>

<p>
  <% @recipe.recipe_ingredients.each do |rec_ing| %>
    <p>
      <%= rec_ing.amount %>
      <%= rec_ing.unit %>
      <%= rec_ing.ingredient_name %>
    </p>
  <% end %>
</p>

<% if can? :update, @recipe %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>

<%= link_to 'Back', recipes_path %>
