<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/messages' %>

    <% if params[:controller] == 'pages' %>
      <%= yield %>
    <% else %>
      <main class="container py-6">
        <%= yield %>
      </main>
    <% end %>

    <%= render 'shared/footer' %>
  </body>
</html>