<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body id="page-top">
    <%= render 'shared/navbar' %>

    <%= render 'shared/messages' %>

    <%= yield %>

    <div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
